<!DOCTYPE html>
<!--[if IE 8 ]>    <html id="ng-app" ng-app="wikiscrapper" class="ie"> <![endif]-->
<!--[if IE 9 ]>    <html id="ng-app" ng-app="wikiscrapper" class="ie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html id="ng-app" ng-app="wikiscrapper" class=""> <!--<![endif]-->
<head>
  <title>WikipediaScrapper</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= include_gon %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation" >
</nav>
<div class="container">
  <%= yield %>
</div>

<%= javascript_include_tag "application"%>
</body>
</html>
